<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>
            pagesize 
        </param-name>
        <param-value>
            8
        </param-value>
    </context-param>
    <!--filter Home-->
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>Filter.HomeFilter</filter-class>
    </filter>
    <!--filter check Homelogin-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <!--filter check role-->
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>Filter.RoleFilter</filter-class>
    </filter>
    <!--filter check count-->
    <filter>
        <filter-name>CountFilter</filter-name>
        <filter-class>Filter.CountFilter</filter-class>
        <init-param>
            <param-name>
                count 
            </param-name>
            <param-value>
                0
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Admin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CountFilter</filter-name>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/Product</url-pattern>
        <url-pattern>/search</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/Admin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>InforProductController</servlet-name>
        <servlet-class>UseController.InforProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarController</servlet-name>
        <servlet-class>UseController.CarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xemhang</servlet-name>
        <servlet-class>UseController.xemhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyproductController</servlet-name>
        <servlet-class>UseController.BuyproductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process</servlet-name>
        <servlet-class>UseController.ProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>AcountController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>AcountController.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>UseController.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>AdminController.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>UseController.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusController</servlet-name>
        <servlet-class>AdminController.StatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DienThoaiController</servlet-name>
        <servlet-class>UseController.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDBcontext</servlet-name>
        <servlet-class>AdminController.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewacc</servlet-name>
        <servlet-class>AdminController.Viewacc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddproductController</servlet-name>
        <servlet-class>AdminController.AddproductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteproductColler</servlet-name>
        <servlet-class>AdminController.DeleteproductColler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OredrController</servlet-name>
        <servlet-class>AdminController.OredrController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllstatsController</servlet-name>
        <servlet-class>AdminController.AllstatsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>UseController.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUseController</servlet-name>
        <servlet-class>Ajax.SearchUseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadController</servlet-name>
        <servlet-class>Ajax.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrController</servlet-name>
        <servlet-class>UseController.ErrController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductContronller</servlet-name>
        <servlet-class>Ajax.ProductContronller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>AcountController.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>AcountController.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addproduct1Controller</servlet-name>
        <servlet-class>AdminController.Addproduct1Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InforProductController</servlet-name>
        <url-pattern>/Information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xemhang</servlet-name>
        <url-pattern>/xemhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyproductController</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusController</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DienThoaiController</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDBcontext</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewacc</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddproductController</servlet-name>
        <url-pattern>/Addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteproductColler</servlet-name>
        <url-pattern>/Deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OredrController</servlet-name>
        <url-pattern>/Oredrdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllstatsController</servlet-name>
        <url-pattern>/Allstats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUseController</servlet-name>
        <url-pattern>/SearchUse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadController</servlet-name>
        <url-pattern>/Load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrController</servlet-name>
        <url-pattern>/Err</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductContronller</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addproduct1Controller</servlet-name>
        <url-pattern>/Addproduct1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
